<?xml version="1.0"?>
<config>
	<engine>
		<title>My platformer game</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="800" height="580" scale="2" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<scene>
		<map path="Assets/Maps/" name="Stage 1.tmx" />
		<map1 path="Assets/Maps/" name="Stage 2.tmx" />
		<entities>
			<player x="2184" y="126" w="15" h="15" level="0" hp="200" coins="0" save="1" texture="Assets/Textures/player/Mario.png">
				<animations>
					<idle loop="true" speed="0.1">
						<frame x="0" y="0" w="16" h="16" />
						<frame x="16" y="0" w="16" h="16" />
					</idle>
					<backidle loop="true" speed="0.1">
						<frame x="0" y="16" w="16" h="16" />
						<frame x="16" y="16" w="16" h="16" />
					</backidle>
					<walk loop="true" speed="0.2">
						<frame x="0" y="0" w="16" h="16" />
						<frame x="32" y="0" w="16" h="16" />
						<frame x="48" y="0" w="16" h="16" />
						<frame x="64" y="0" w="16" h="16" />
					</walk>
					<backwalk loop="true" speed="0.2">
						<frame x="0" y="16" w="16" h="16" />
						<frame x="32" y="16" w="16" h="16" />
						<frame x="48" y="16" w="16" h="16" />
						<frame x="64" y="16" w="16" h="16" />
					</backwalk>
					<jump loop="true" speed="1">
						<frame x="96" y="0" w="16" h="16" />
					</jump>
					<backjump loop="true" speed="1">
						<frame x="96" y="16" w="16" h="16" />
					</backjump>
					<dead loop="true" speed="1">
						<frame x="112" y="0" w="16" h="16" />
					</dead>
				</animations>
			</player>
			<items>
				<item name="coin" x="848" y="96" w="16" h="16" texture="Assets/Textures/goldCoin.png" gravity="false" taken="false" type="0">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="0" y="0" w="16" h="16" />
						</idle>
					</animations>
				</item>
				<item name="coin" x="880" y="96" w="16" h="16" texture="Assets/Textures/goldCoin.png" gravity="false" taken="false" type="0">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="0" y="0" w="16" h="16" />
						</idle>
					</animations>
				</item>
				<item name="coin" x="832" y="80" w="16" h="16" texture="Assets/Textures/goldCoin.png" gravity="false" taken="false" type="0">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="0" y="0" w="16" h="16" />
						</idle>
					</animations>
				</item>
				<item name="coin" x="864" y="80" w="16" h="16" texture="Assets/Textures/goldCoin.png" gravity="false" taken="false" type="0">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="0" y="0" w="16" h="16" />
						</idle>
					</animations>
				</item>
				<item name="coin" x="896" y="80" w="16" h="16" texture="Assets/Textures/goldCoin.png" gravity="false" taken="false" type="0">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="0" y="0" w="16" h="16" />
						</idle>
					</animations>
				</item>
				<item name="coin" x="880" y="64" w="16" h="16" texture="Assets/Textures/goldCoin.png" gravity="false" taken="false" type="0">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="0" y="0" w="16" h="16" />
						</idle>
					</animations>
				</item>
				<item name="coin" x="848" y="64" w="16" h="16" texture="Assets/Textures/goldCoin.png" gravity="false" taken="false" type="0">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="0" y="0" w="16" h="16" />
						</idle>
					</animations>
				</item>
				<item name="Star" x="848" y="192" w="16" h="16" texture="Assets/Textures/Items.png" gravity="false" taken="false" type="1">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="16" y="0" w="16" h="16" />
						</idle>
					</animations>
				</item>
				<item name="Mush" x="1500" y="192" w="16" h="16" texture="Assets/Textures/Items.png" gravity="false" taken="false" type="2">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="16" y="16" w="16" h="16" />
							<frame x="32" y="16" w="16" h="16" />
						</idle>
					</animations>
				</item>
			</items>
			<enemies>
				<enemy name="Goomba" x="219" y="192" w="16" h="16" texture="Assets/Textures/enemy/Goomba.png" gravity="true" dead="true" flying="false" boss="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="16" y="0" w="16" h="16" />
						</idle>
						<dead loop="true" speed="1">
							<frame x="32" y="0" w="16" h="16" />
						</dead>
					</animations>
				</enemy>
				<enemy name="Goomba" x="1661" y="192" w="16" h="16" texture="Assets/Textures/enemy/Goomba.png" gravity="true" dead="false" flying="false" boss="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="16" y="0" w="16" h="16" />
						</idle>
						<dead loop="true" speed="1">
							<frame x="32" y="0" w="16" h="16" />
						</dead>
					</animations>
				</enemy>
				<enemy name="Boo" x="425" y="144" w="16" h="16" texture="Assets/Textures/enemy/Boo.png" gravity="true" dead="true" flying="true" boss="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="16" y="0" w="16" h="16" />
						</idle>
					</animations>
				</enemy>
				<enemy name="Boo" x="1125" y="144" w="16" h="16" texture="Assets/Textures/enemy/Boo.png" gravity="true" dead="true" flying="true" boss="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="16" y="0" w="16" h="16" />
						</idle>
					</animations>
				</enemy>
				<enemy name="KingBoo" x="700" y="50" w="32" h="32" texture="Assets/Textures/enemy/KingBoo.png" gravity="true" dead="true" flying="true" boss="true">
					<animations>
						<idleR loop="true" speed="0.1">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
							<frame x="96" y="0" w="32" h="32" />
						</idleR>
						<idleL loop="true" speed="0.1">
							<frame x="0" y="64" w="32" h="32" />
							<frame x="32" y="64" w="32" h="32" />
							<frame x="64" y="64" w="32" h="32" />
							<frame x="96" y="64" w="32" h="32" />
						</idleL>
						<invisible_idleR loop="true" speed="0.1">
							<frame x="0" y="32" w="32" h="32" />
							<frame x="32" y="32" w="32" h="32" />
							<frame x="64" y="32" w="32" h="32" />
							<frame x="96" y="32" w="32" h="32" />
						</invisible_idleR>
						<invisible_idleL loop="true" speed="0.1">
							<frame x="0" y="96" w="32" h="32" />
							<frame x="32" y="96" w="32" h="32" />
							<frame x="64" y="96" w="32" h="32" />
							<frame x="96" y="96" w="32" h="32" />
						</invisible_idleL>
						<hit loop="true" speed="0.1">
							<frame x="160" y="0" w="32" h="32" />
						</hit>
					</animations>
				</enemy>
			</enemies>
		</entities>
	</scene>
</config>
